<launch>
    <arg name="ball_name_default" default="ball"/>
    <param name="ball_name" type="string" value="$(arg ball_name_default)"/>
	<node pkg="robot_ctrl" type="robot_ctrl" name="robot_ctrl" output="screen"> 
    </node> 
    <rosparam file="$(find robot_ctrl)/config/config.yaml" command="load" />
</launch>
